body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    background-image: url("Gemini_Generated_Image.png");
    background-size: cover;
    padding: 20px;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

video{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
#photo-strip {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.photo {
  width: 300px;
  margin: 5px 0;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}